# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# completed
# header and footer
# cards & general news and filter by category.

# Yet to Complete
# Add an option to store the news article
# Filter by source
# Dark mode Toggle
# UA - Sign Up page : name, email, password, country
# UA - Login Page : email, passsword
# DashBoard/Profile : Manage Notes & Saved Articles
# Notes section : Only Logged users can create and maintain notes in their profile
# Maintain the scrolling speed of news or just stop scrolling
# Add pagination
#


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

